:root {
  --color-background: #1b1b1d;
  --color-border: #272729;
  --color-button-bg: #272729;
  --color-progress-track-bg: #272729;
  --color-progress-track-shadow: rgba(0, 0, 0, 0.0);
  --color-progress-value: #4eaefe;
  --color-progress-bar-webkit-bg: #333333;
  --color-status-green: #0b8456;
  --color-status-red: #D2042D;
  --color-status-blue: #4eaefe;
  --color-status-yellow: #eed202;
  --color-status-grey: grey;
  --color-pill-grey-text: white;
  --color-pill-grey-bg: none;
  --color-pill-yellow-text: white;
  --color-pill-yellow-bg: #ff9500;
  --color-pill-red-text: white;
  --color-pill-red-bg: #e33737;
  --color-log-message-bg: #272729;
  --color-nav-bg: #272729;

  /* Gradients (from commented-out code) */
  /* --gradient-progress: linear-gradient(to right, #ff0000, #ffff00, #00ff00); */
}



[data-theme='dark'] {
  --color-background: black;
  --color-border: #ccc;
  --color-button-bg: #111111;
  --color-progress-track-bg: #111111;
  --color-progress-track-shadow: rgba(0, 0, 0, 0.7);
  --color-progress-value: #4eaefe;
  --color-progress-bar-webkit-bg: #333333;
  --color-status-green: #0b8456;
  --color-status-red: #e33737;
  --color-status-blue: #4eaefe;
  --color-status-yellow: #eed202;
  --color-status-grey: grey;
  --color-pill-grey-text: white;
  --color-pill-grey-bg: none;
  --color-pill-yellow-text: white;
  --color-pill-yellow-bg: #ff9500;
  --color-pill-red-text: white;
  --color-pill-red-bg: #e33737;
  --color-log-message-bg: #070707;
  --color-nav-bg: black;

  /* Gradients (from commented-out code) */
  /* --gradient-progress: linear-gradient(to right, #ff0000, #ffff00, #00ff00); */
}


/* --- Basic Reset & Box Sizing --- */
/* This ensures our layout calculations are consistent */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif, inter;
  background-color: var(--color-background);
  /* Basic font for readability */
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* =====================================================
  Mobile STYLES (Flexbox Col)
=====================================================
*/

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.nav-header {
  background-color: var(--color-nav-bg);
  align-items: center;
  order: 1;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.status-header {
  background-color: var(--color-nav-bg);
  align-items: center;
  order: 2;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  /* border-bottom: 1px solid var(--color-border); */
}

.stats-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 130px;
}

[data-theme='dark'] .info-sidebar {
  border-right: 0px solid var(--color-border);
}

.info-sidebar {
  order: 3;
  border-right: 2px solid var(--color-border);
  /* Third item */
  /* border-bottom: 1px solid var(--color-border); */
}

.logs-main {
  background-color: var(--color-background);
  order: 4;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  position: sticky;
}

.logs-header,
.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  /* border-bottom: 1px solid var(--color-border); */
}

.info-battery {
  display: flex;
  align-content: center;
  gap: 4px;
}

.logs-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 8px;
  max-height: calc(100vh - 61px);
}

/* Simple styling for stacked info */

h3,
span,
h2 {
  font-weight: bold;
  margin: 0;
}

p {
  margin: 2px;
}


.log-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  max-width: 50%;
}

.icon {
  vertical-align: middle;
}

.link {
  font-weight: bold;
  color: var(--color-text-light);
  text-decoration: underline;
}

.btn {
  background-color: var(--color-button-bg);
  font-weight: bold;
  padding: .6em;
  border-radius: 25px;
}

.progress-container {
  /* This is the dark, pill-shaped outer track */
  background-color: var(--color-progress-track-bg);
  background-color: transparent;
  border-radius: 10px;
  padding: 8px;
  padding-top: 0px;
  width: 90%;
  height: 25px;
  align-items: center;
  /* Creates the "inset" look */
  box-shadow: inset 0 1px 3px var(--color-progress-track-shadow);
}

.custom-progress {
  /* Reset default styles */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  box-sizing: content-box;

  /* Make it fill the container */
  width: 100%;
  height: 15px;
  /* This is for Firefox.  
     We make the track transparent so the .progress-container's
     background shows through.
   */
  background-color: transparent;
  color: var(--color-progress-value);
  /* Fallback for very old browsers */
}


/* This is the inner track (which we don't want to see) */
.custom-progress::-webkit-progress-bar {
  background-color: var(--color-progress-bar-webkit-bg);
  border-radius: 4px;
}

.custom-progress::-webkit-progress-value {
  background-color: var(--color-progress-value);
  /* background-image: var(--gradient-progress); */
  border-top-left-radius: 7px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 10px;
}

/* --- Firefox --- */

.custom-progress::-moz-progress-bar {
  /* background-image: var(--gradient-progress); */
  background-color: var(--color-progress-value);
  border-radius: 10px;
}

.info-content {
  height: calc(100% - 95px);
  padding: 8px;
  padding-top: 6px;
}

.green {
  color: var(--color-status-green);
}

.red {
  color: var(--color-status-red);
}

.blue {
  color: var(--color-status-blue);
}

.yellow {
  color: var(--color-status-yellow);
}

.grey {
  color: var(--color-status-grey);
}

.not-bold {
  font-weight: initial;
}

.pill {
  background-color: var(--color-pill-grey-bg);
  font-weight: bold;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1.1px;
  padding-bottom: 1.1px;
}

.pill.grey {
  color: var(--color-pill-grey-text);
  background-color: var(--color-pill-grey-bg);
}

.pill.yellow {
  color: var(--color-pill-yellow-text);
  background-color: var(--color-pill-yellow-bg);
}

.pill.red {
  color: var(--color-pill-red-text);
  background-color: var(--color-pill-red-bg);
}

.pill.blue {
  color: white;
  background-color: var(--color-status-blue);
  border-radius: 15px;
  padding-left: 7px;
  padding-right: 7px;
}


.log-message {
  background-color: var(--color-log-message-bg);
  padding: 6px;
  padding-right: 26px;
  margin-bottom: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.log-message-copy {
  display: flex;
  gap: 8px;
  align-items: center;
}

.log-message-copy-hidden {
  opacity: 0%;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visible-copy-notif {
  opacity: 100%
}

.log-message:hover .copy-icon {
  opacity: 40%;

}

.copy-icon {
  opacity: 0%;
  color: grey;
}

.log-message-text {
  font-weight: normal;
  padding-left: 5px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--color-status-grey);
}

/* .logs-content.mobile-scroll {
  display: flex;
  flex-direction: column-reverse;
} */

.down-btn {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  background-color: var(--color-status-blue);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* From: hover:bg-blue-700 */
.down-btn:hover {
  background-color: #1d4ed8;
}

/* Required by: animate-pulse */
@keyframes pulse {
  50% {
    opacity: .5;
  }
}


/* =====================================================
  DESKTOP STYLES (2x2 Grid)
=====================================================
*/

@media (min-width: 810px) {

  /* --- Main Grid Container --- */
  .app-container {
    /* Override mobile flex layout */
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: auto 1fr;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  /* Reset the 'order' property from mobile */
  .nav-header,
  .status-header,
  .info-sidebar,
  .logs-main {
    order: 0;
  }


  .nav-header {
    grid-row: 1;
    grid-column: 1;
    padding: 16px;
  }

  .status-header {
    grid-row: 1;
    grid-column: 2;
    padding: 16px;
  }

  .info-sidebar {
    grid-row: 2;
    grid-column: 1;
    padding-left: 32px;
    overflow-y: auto;
  }

  .info-content {
    padding-left: 0px;
  }

  .logs-main {
    grid-row: 2;
    grid-column: 2;
    position: relative;
  }

  .logs-header {
    padding-left: 22px;
    padding-right: 16px;
    height: 55px
  }

  .info-header {
    padding-left: 0px;
    height: 55px;
    display: flex;
  }

  .logs-content {
    padding: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 16px;
    max-height: none;
  }


  .progress-container {
    padding: 16px;
    background-color: var(--color-progress-track-bg);
  }

  .logo {
    max-width: 60%;
  }
}
